
.navbar {
    background-color:rgba(0,0,0,1);
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}

.navbar button {
    color: white;
    font-size: 1.8em;
    font-weight: 600;
}

.navbar i{color:whitesmoke;}

#logo {
    border-radius: 50%;
    margin-left: 1%;
}


.dropdown-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-item:hover{background-color:lightgray;}


#container{display: flex;
                flex-direction: row;
                justify-content: space-between;}

#navbarSupportedContent{display: flex;
                        flex-direction: row;
                        justify-content: space-between;}

                        #navbarSupport{display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                        width: 70%;
                    padding-left: 18%;}

                            #navbarSupport_2{display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                }

                                #navbarSupport_2{display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    height:150px;
                                    padding-right:5%;
                                    }
#navbarSupport_2 div{display:flex;
                    flex-direction: column;
                    align-items: center;
                    justify-items: center;}

#navbarSupport_2 a{text-decoration: none;
                    color:whitesmoke;}


/**Debut Footer**/

footer {
    padding-bottom: 3%;
    padding-top: 3%;
    margin-top: 4%;

}

#footer{display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;}

#footer a{text-decoration: none;
        color: black;}

/**Fin Fotter**/